# Supabase (https://supabase.com/dashboard でプロジェクト作成後を貼り付け)
NEXT_PUBLIC_SUPABASE_URL=https://nemnhojjyxuqnyntsrlj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lbW5ob2pqeXh1cW55bnRzcmxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMTUyNzIsImV4cCI6MjA4NzU5MTI3Mn0.tS91jz7lczaopViWgH-fSGjc3CLn5r1VSQxZoeeSMNE
